.App {
  width: 30%;
  margin-left: 5rem;
  padding: 2rem;
  min-height: 100vh;
  background-color:antiquewhite; 
  box-shadow: 0px 0px 5px 1px #aaaaaa;
}

.Btn {
  width: 5rem;
  height: 2rem;
  text-align: center;
  border: solid 1px black;
  border-radius: 0.2rem;
  text-decoration: none;
  cursor: pointer;
}

.Button-New, .PostAdd-Submit, .Button-Home {
  background-color: darkseagreen;
  margin-left: auto;
}

.Button-Edit {
  background-color: dodgerblue;
}

.Button-Delete {
  background-color:red ;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit
}

.Post-container {
  border: solid 1px black;
  border-radius: 0.5rem; 
  background-color: azure;
  padding: 1rem;
}

.Post-username, .PostAdd-Title {
  font-weight: bold;
}

.PostAdd-Textarea {
  width: 80%;
  margin:auto;
  border: solid 1px black;
  border-radius: 0.5rem;
  }

.PostAdd-Title {
  position: relative;
}

.PostAdd-CloseBtn {
  color: red;
  width: 1rem;
  display: block;
  position: absolute;
  z-index: 9;
  top: 2rem;
  left: 12rem;    
}

.Button-Container {
display: flex;
justify-content: flex-end;
margin-top: 1rem;
}

.Button-Edit, .Button-Delete {
margin-left: 1rem;
}